@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --main-color: #333333;
    --secondary-color: #2e86ab;
    --accent-color: #52b788;
    --text-color: #f4f4f4;

    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: url(../03-personal-portfolio/background.png);
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .logo h4 {
    color: var(--accent-color);
    margin-left: 20px;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: var(--transition);
}

nav ul li a:hover {
    color: var(--accent-color);
}