@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --main-color: #333333;
    --secondary-color: #2e86ab;
    --accent-color: #52b788;
    --text-color: #f4f4f4;

    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: url(../03-personal-portfolio/background.png) no-repeat center center/cover;
    color: var(--text-color);
    padding: 0 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .logo h4 {
    color: var(--accent-color);
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: var(--transition);
}

nav ul li a:hover {
    color: var(--accent-color);
}

section {
    padding: 2rem 0;
}

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.grid {
    display: grid;
    grid-template-areas: 
    "projects work-experience education"
    "projects open-source-work education";
    gap: 1rem;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
}

.projects {
    grid-area: projects;
}

.work-experience {
    grid-area: work-experience;
}

.education {
    grid-area: education;
}

.open-source-work {
    grid-area: open-source-work;
}